---
layout: default
title: bienvenidos
---
<div id="hot-topic">
<h2>Concurso para resolver el problema del golfito</h2>
<p>El golfito, tan promocionado durante la etapa de ventas del conjunto residencial, se fue convirtiendo en un problema cada vez mayor debido a su deterioro, al bajo uso y al costo elevado de su reposición.</p>

<p>En la pasada Asamblea General, se solicitó al recién nombrado consejo de administración que liderara un proceso de selección de alternativas para ser sometido a votación en la Asamblea Extraordinaria.</p>
<p>En la <a href="http://pobladoverde.com/blog/2012/03/28/asamblea-extraordinaria">Asamblea Extraordinaria</a>, al no obtenerse un consenso sobre las alternativas presentadas, se decidió realizar un concurso abierto. Cada propuesta deberá presentarse con un estudio previo de factibilidad y con cotizaciones reales de las obras necesarias.</p>
<p>El proceso de decisión será democrático, participativo e incluyente. Para lograrlo, se publicará cada propuesta en un foro con la posibilidad de opinar sobre cualquier tema. El objetivo es llegar al mayor número de copropietarios posibles y difundir la información con todo el detalle con que se dispone.</p> 

<p>A manera de ejemplo, se presentan las siguientes alternativas:
<ul>
{% for post in site.categories.golfito %}
<li><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;<!-- abbr>{{ post.date | date_to_string }}</abbr --></li>
	{%if post.url=='http://pobladoverde.com/blog/2012/04/04/golfito-por-jardin' %}
		<abbr> me gusta</abbr>
	{% endif %}
{% endfor %}
</ul>
</p>
<p>Algunas de las alternativas presentadas podrán evolucionar en propuestas concretas. Y como no existe límite para la creatividad, no podemos ni imaginar cómo serán las propuestas finales.</p>

<p>La Asamblea no puso límite para la inversión. Hay que mantener un criterio razonable y realista, para que la aprobación de la Asamblea sea posible.</p>

<p>El objetivo de este foro abierto es conocer y publicar las opiniones de los habitantes del conjunto para poder tomar la mejor decisión basados en informaciones concretas, recomendaciones de expertos y cotizaciones concretas.</p>
</div>
<hr />

<h2>Otros temas</h2>
<ul id="archive">
{% for post in site.categories.varios %}
<li><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;<abbr>{{ post.date | date_to_string }}</abbr></li>
{% endfor %}
</ul>
<div id="alert-shadow">&nbsp;</div>
<div id="alert"><a href="http://pobladoverde.com/blog/2012/03/28/asamblea-extraordinaria">Resultados de la Asamblea Extraordinaria</a>
	<div id="date">Abril 10</div>
</div>
