---
layout: default
title: bienvenidos
---
<div id="hot-topic">
<h2>Tema prioritario: Problemática del golfito</h2>
<p>El golfito, tan promocionado durante la etapa de ventas del conjunto residencial, se fue convirtiendo en una carga cada vez mayor debido a su deterioro, al bajo uso y al costo elevado de su reposición.</p>

<p>En la pasada asamblea, se solicitó al recién nombrado consejo de administración que liderara un proceso de selección de alternativas para ser sometido a votación en una asamblea extraordinaria.</p>
<p>El mandato de la asamblea obliga a que el proceso sea democrático, participativo e incluyente. Con dichos objetivos en mente, se activó el presente foro de discusión y con el cual se pretende llegar al mayor número de copropietarios posibles y difundir la información con todo el detalle con que se dispone.</p> 

<p>Las alternativas que se han contemplado hasta el momento son:
<ul>
{% for post in site.categories.golfito %}
<li><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;<!-- abbr>{{ post.date | date_to_string }}</abbr --></li>
	{%if post.url=='http://pobladoverde.com/blog/2012/04/04/golfito-por-jardin' %}
		<abbr> me gusta</abbr>
	{% endif %}
{% endfor %}
</ul>
</p>
<p>Cada alternativa presenta ventajas y desventajas y por lo tanto cada una tendrá seguidores y detractores.</p>

<p>Además, por razones de costo y de aplicabilidad, algunas tendrán que ser desechadas.</p>

<p>El objetivo de este foro abierto es conocer y publicar las opiniones de los habitantes del conjunto para poder tomar la mejor decisión basados en informaciones concretas, recomendaciones de expertos y cotizaciones concretas.</p>
</div>
<!-- hr />

<h2>Otros temas</h2>
<ul id="archive">
{% for post in site.posts %}
<li><a href="{{ post.url }}">{{ post.title }}</a>&nbsp;<abbr>{{ post.date | date_to_string }}</abbr></li>
{% endfor %}
</ul -->
<div id="alert"><a href="http://pobladoverde.com/blog/2012/03/28/asamblea-extraordinaria"></a>Citación a la Asamblea Extraordinaria
	<div id="date">Abril 10</div>
</div>
